<div *ngIf="!userService.getUser()">
    <h2>Login to view accounts</h2>
</div>
<div *ngIf="userService.getUser()">
  <mat-card color="primary">
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" color="accent">

        <ng-container matColumnDef="resourceId">
          <th mat-header-cell *matHeaderCellDef> ResourceId </th>
          <td mat-cell *matCellDef="let element">{{element.resourceId}} </td>
        </ng-container>

        <ng-container matColumnDef="bicFi">
          <th mat-header-cell *matHeaderCellDef> BIC </th>
          <td mat-cell *matCellDef="let element"> {{element.bicFi}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="usage">
          <th mat-header-cell *matHeaderCellDef> Usage </th>
          <td mat-cell *matCellDef="let element"> {{element.usage}} </td>
        </ng-container>

        <ng-container matColumnDef="cashAccountType">
          <th mat-header-cell *matHeaderCellDef> cashAccountType </th>
          <td mat-cell *matCellDef="let element"> {{element.cashAccountType}} </td>
        </ng-container>
        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef> Product </th>
          <td mat-cell *matCellDef="let element"> {{element.product}} </td>
        </ng-container>

        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef> Currency </th>
          <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
        </ng-container>

        <ng-container matColumnDef="psuStatus">
          <th mat-header-cell *matHeaderCellDef> PsuStatus </th>
          <td mat-cell *matCellDef="let element"> {{element.psuStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element"> {{element.details}} </td>
        </ng-container>

        <ng-container matColumnDef="buttons">
          <th mat-header-cell *matHeaderCellDef> Actions </th>*matCellDef="let element"
          <td  mat-cell *matCellDef="let element" (click)="showDetails(element.rawObject)"><button mat-button>Details</button></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
    </mat-card-content>


  </mat-card>
  <!--dialog-data-example-dialog>Loading...</dialog-data-example-dialog-->

</div>
